## Handling Missing values

Why do you need to fill in the missing data? 

Because most of the machine learning models that you want to use will provide an error if you pass NaN values into it. The easiest way is to just fill them up with 0, but this can reduce your model accuracy significantly.


The absence of values is a cause of concern for real-life datasets. When collecting observations about a variable, missing values can occur due to reasons as diverse as –

* an error in machinery/equipment
* error on part of the researcher
* unavailable respondents
* accidental deletion of observations
* forgetfulness on part of the respondents
* error in accounting, etc.

In [28]:
# Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import date
%matplotlib inline

In [36]:
# Data 
df = pd.read_csv('data/titanic.csv')

In [37]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
df.drop(columns=["Name", "Ticket", "PassengerId", "Cabin", "Embarked"], inplace=True)

In [40]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [41]:
print(df.isna().sum())

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [42]:
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# df['Sex'] = le.fit_transform(df['Sex'])
# newdf = df
# Pandas .getdunnies as a main method of on hod encoding transformation
df['Sex'] = pd.get_dummies(df["Sex"], drop_first=True)

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: uint8

## The methods we will be discussing are:

### 1. Deleting the column with missing data

In [43]:
updated_df = df.dropna(axis=1)

In [44]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    uint8
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
dtypes: float64(1), int64(4), uint8(1)
memory usage: 35.8 KB

### 2. Deleting the row with missing data

In [45]:
updated_df_1 = df.dropna(axis=0)

In [46]:
updated_df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Sex       714 non-null    uint8
 3   Age       714 non-null    float64
 4   SibSp     714 non-null    int64
 5   Parch     714 non-null    int64
 6   Fare      714 non-null    float64
dtypes: float64(2), int64(4), uint8(1)
memory usage: 39.7 KB

### 3. Filling the Missing Values – Imputation

In this case, we will be filling the missing values with a certain number.

The possible ways to do this are:

* Filling the missing data with the mean or median value if it’s a numerical variable.
* Filling the missing data with mode if it’s a categorical value.
* Filling the numerical value with 0 or -999, or some other number that will not occur in the data. This can be done so that the machine can recognize that the data is not real or is different.
* Filling the categorical value with a new type for the missing values.

You can use the fillna() function to fill the null values in the dataset.

In [47]:
updated_df_3 = df.copy()
updated_df_3['Age'] = updated_df_3['Age'].fillna(updated_df_3['Age'].mean())
updated_df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    uint8
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), uint8(1)
memory usage: 42.8 KB

### 4. Imputation with an additional column

In [48]:
updated_df_4 = newdf.copy()
updated_df_4['Ageismissing'] = updated_df_4['Age'].isnull()
updated_df_4.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward",...,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S,Ageismissing
0,1,0,3,1,22.0,1,0,7.2500,0,0,...,0,0,0,0,0,0,0,0,1,False
1,2,1,1,0,38.0,1,0,71.2833,0,0,...,0,0,0,0,0,0,1,0,0,False
2,3,1,3,0,26.0,0,0,7.9250,0,0,...,0,0,0,0,0,0,0,0,1,False
3,4,1,1,0,35.0,1,0,53.1000,0,0,...,0,0,0,0,0,0,0,0,1,False
4,5,0,3,1,35.0,0,0,8.0500,0,0,...,0,0,0,0,0,0,0,0,1,False

In [50]:
from sklearn.impute import SimpleImputer, KNNImputer, MissingIndicator

my_imputer = SimpleImputer(strategy = 'mean')
data_new = my_imputer.fit_transform(updated_df_4)
pd.DataFrame(data_new, columns= updated_df_4.columns)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward",...,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S,Ageismissing
0,1.0,0.0,3.0,1.0,22.000000,1.0,0.0,7.2500,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2.0,1.0,1.0,0.0,38.000000,1.0,0.0,71.2833,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,3.0,1.0,3.0,0.0,26.000000,0.0,0.0,7.9250,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4.0,1.0,1.0,0.0,35.000000,1.0,0.0,53.1000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5.0,0.0,3.0,1.0,35.000000,0.0,0.0,8.0500,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887.0,0.0,2.0,1.0,27.000000,0.0,0.0,13.0000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
887,888.0,1.0,1.0,0.0,19.000000,0.0,0.0,30.0000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
888,889.0,0.0,3.0,0.0,29.699118,1.0,2.0,23.4500,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
889,890.0,1.0,1.0,1.0,26.000000,0.0,0.0,30.0000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
890,891.0,0.0,3.0,1.0,32.000000,0.0,0.0,7.7500,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

Essence of kNN algorithm
Univariate methods used for missing value imputation are simplistic ways of estimating the value and may not provide an accurate picture always. For example, let us say we have variables related to the density of cars on road and levels of pollutants in the air and there are few observations that are missing for the level of pollutants, imputing the level of pollutants by mean/median level of pollutants may not necessarily be an appropriate strategy.

In such scenarios, algorithms like k-Nearest Neighbors (kNN) can help to impute the values of missing data. Sociologists and community researchers suggest that human beings live in a community because neighbors generate a feeling of security and safety, attachment to community, and relationships that bring out a community identity through participation in various activities.

A similar imputation methodology that works on data is k-Nearest Neighbours (kNN) that identifies the neighboring points through a measure of distance and the missing values can be estimated using completed values of neighboring observations.

In [ ]:
my_imputer = KNNImputer(n_neighbors=2)
data_new = my_imputer.fit_transform(updated_df_4)
pd.DataFrame(data_new, columns= updated_df_4.columns)

### 5. Filling with a Regression Model
In this case, the null values in one column are filled by fitting a regression model using other columns in the dataset.

I.E in this case the regression model will contain all the columns except Age in X and Age in Y.

Then after filling the values in the Age column, then we will use logistic regression to calculate accuracy.

In [51]:
from sklearn.linear_model import LinearRegression

In [52]:
lr = LinearRegression()
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Columns: 1730 entries, PassengerId to Embarked_S
dtypes: float64(2), int64(5), uint8(1723)
memory usage: 1.5 MB

In [53]:
reg_df = newdf.copy()

In [55]:
testdf = reg_df[reg_df['Age'].isna()==True]
traindf = reg_df[reg_df['Age'].isna()==False]

In [56]:
y = traindf['Age']
traindf.drop("Age",axis=1,inplace=True)

C:\Users\tkaramyan\AppData\Local\Temp\ipykernel_28300\4158677080.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  traindf.drop("Age",axis=1,inplace=True)

In [57]:
lr.fit(traindf, y)

LinearRegression()

In [58]:
testdf.drop("Age", axis=1, inplace=True)

C:\Users\tkaramyan\AppData\Local\Temp\ipykernel_28300\196509552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf.drop("Age", axis=1, inplace=True)

In [59]:
pred = lr.predict(testdf)
testdf['Age']= pred

C:\Users\tkaramyan\AppData\Local\Temp\ipykernel_28300\478452881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf['Age']= pred

In [60]:
testdf

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)",...,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S,Age
5,6,0,3,1,0,0,8.4583,0,0,0,...,0,0,0,0,0,0,0,1,0,31.669270
17,18,1,2,1,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,1,30.006463
19,20,1,3,0,0,0,7.2250,0,0,0,...,0,0,0,0,0,0,1,0,0,19.852455
26,27,0,3,1,0,0,7.2250,0,0,0,...,0,0,0,0,0,0,1,0,0,26.648556
28,29,1,3,0,0,0,7.8792,0,0,0,...,0,0,0,0,0,0,0,1,0,24.896793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,1,0,0,7.2292,0,0,0,...,0,0,0,0,0,0,1,0,0,27.147382
863,864,0,3,0,8,2,69.5500,0,0,0,...,0,0,0,0,0,0,0,0,1,-7.488344
868,869,0,3,1,0,0,9.5000,0,0,0,...,0,0,0,0,0,0,0,0,1,29.398084
878,879,0,3,1,0,0,7.8958,0,0,0,...,0,0,0,0,0,0,0,0,1,29.419745
888,889,0,3,0,1,2,23.4500,0,0,0,...,0,0,0,0,0,0,0,0,1,26.853730